<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
    props: {
        item: { type: Object, required: true },
    },
    setup() {
        
        return {
            
        }
    }
})
</script>
<template>
    <div class="item-border bg-white w-full h-full shadow-lg">
        <div class="w-full h-56">
            <img class="w-full h-full img-round" :src="item.thumbnail" alt="">
        </div>
        <div class="p-6">
            <div class="text-26 font-semibold">{{ item.title }}</div>
            <div class="text-lg pt-3">{{ item.description }}</div>
        </div>
    </div>
</template>
<style scoped lang="scss">
    .item-border {
        border-radius: 4px;
    }
    .img-round {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
</style>

