<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
    setup() {
        return {

        }
    }
})
</script>
<template>
    <div class="w-full text-center">
        <div class="text-white font-bold text-6xl">LOREM IPSUM <span class="text-yellow-d9ef0c">LOREM</span></div>
        <div class="flex justify-center items-center pt-24">
            <div class="w-14 h-14 bg-gray-c4c4c4 flex justify-center items-center cursor-pointer">
                <img class="w-5 h-5" src="../assets/icon/ic-arrow-left.svg" alt="">
            </div>
            <div class="flex flex-col w-full px-32">
                <div class="w-full text-center">
                    <img class="w-52 h-52 mx-auto" src="../assets/bg/bg-session-2.png" alt="">
                </div>
                <div class="text-28 text-white pt-14">Lorem Ipsum is simply</div>
                <div class="pt-5 text-center text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
            <div class="w-14 h-14 bg-yellow-d9ef0c flex justify-center items-center cursor-pointer">
                <img class="w-5 h-5" src="../assets/icon/ic-arrow-right.svg" alt="">
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">

</style>

