<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
    setup() {
        return {

        }
    }
})
</script>
<template>
    <div class="px-52">
        <div class="flex justify-center items-start gap-16">
            <div class="flex flex-col">
                <div class="">
                    <div class="text-white text-8xl font-bold">LOREM</div>
                    <div class="text-yellow-d9ef0c text-8xl font-bold">IPSUM</div>
                </div>
                <div class="pt-16 text-white font-semibold">
                    Lorem Ipsum is simply Lorem Ipsum is simply Lorem Ipsum is simply
                </div>
                <div class="text-white pt-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                </div>
            </div>

            <div class="flex-none">
                <img class="bg-bike" src="../assets/bg/bg-bike.png" alt="">
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">
.bg-bike {
    width: 858px;
    height: 508px;
}
</style>

