<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
    setup() {
        const date = ref()
        return {
            date
        }
    }
})
</script>
<template>
    <div class="px-52 w-full text-center">
        <div class="flex justify-center items-start gap-20 pt-24">
            <div class="flex-none">
                <img class="bg-bike" src="../assets/bg/bg-bike.png" alt="">
            </div>
            <div class="flex flex-col text-white w-full text-left max-w-lg">
                <div class="font-semibold text-6xl pb-5">ติดต่อเรา</div>
                <input class="text-white placeholder-white bg-black border-b-2 pb-2 mb-5 w-full text-lg" type="text" placeholder="ชื่อ-นามสกุล">
                <input class="text-white placeholder-white bg-black border-b-2 pb-2 mb-5 w-full text-lg" type="text" placeholder="เบอร์ติดต่อ">
                <input class="text-white placeholder-white bg-black border-b-2 pb-2 mb-5 w-full text-lg" type="text" placeholder="อีเมล">
                <div class="relative w-full">
                    <div class="absolute top-0.5 text-lg">วันที่</div>
                    <input class="text-white placeholder-white bg-black border-b-2 pb-2 mb-5 w-full text-lg " type="date">
                </div>
                <div class="text-16 pt-8 pb-16">
                    Lorem Ipsum is simply dummy text<br>
                    Lorem Ipsum is simply dummy text
                </div>
                <div class="bg-yellow-d9ef0c rounded-full max-w-xs text-center text-black py-5 font-medium cursor-pointer">
                    LOREM
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">
 .bg-bike {
    width: 719px;
    height: 423px;
 }
 input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../assets/icon/ic-calendar.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
    cursor: pointer;
}
::-webkit-datetime-edit { padding-left: 80px; }
</style>

