<script>
import { defineComponent, ref } from 'vue';
import axios from "axios"
import CardItem from './CardItem.vue';

export default defineComponent({
    components: {
        CardItem
    },
    setup() {
        const products = ref(null)
        
        const getDataFromApi = () => {
            return new Promise(() => {
                axios.get('https://dummyjson.com/products?limit=3')
                .then((data) => {
                    products.value = data.data.products
                })
                .catch((err) => {
                    console.log(err)
                })
            })
        }
        getDataFromApi()
        return {
            products
        }
    }
})
</script>
<template>
    <div class="w-full bg-yellow-d9ef0c py-20">
        <div class="text-6xl text-black text-center font-bold">LOREM IPSUM</div>
        <div class="grid-container gap-6 justify-center justify-items-center pt-16" >
            <div class="h-auto w-96" v-for="(item, key) in products" :key="key">
                <CardItem :item="item" />
            </div>
        </div>
    </div>
</template>
<style scoped lang="scss">
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 416px);
    }
</style>

