<script>
import { defineComponent, ref } from 'vue';

export default defineComponent({
    setup() {
        return {

        }
    }
})
</script>
<template>
    <div class="sticky top-0 px-32 text-white bg-black w-full py-8">
        <div class="flex justify-start items-center gap-24">
            <div class="font-bold text-2xl flex justify-start items-center italic">
                <img class="h-20 w-16" src="../assets/icon/icon-dino.png" alt="">
                <span class="pl-5">LOREM&nbsp;</span>
                <span class="text-yellow-d9ef0c">IPSUM</span>
            </div>
            <div class="flex justify-start items-center text-lg gap-7">
                <div class="cursor-pointer">LOREM</div>
                <div class="flex gap-1 cursor-pointer">LOREM<img src="../assets/icon/ic-arrow-down.svg" alt=""></div>
                <div class="cursor-pointer">LOREMIPSUM</div>
                <div class="cursor-pointer">LOREM & IPSUM</div>
                <div class="cursor-pointer">LOREM</div>
            </div>
        </div>
         
    </div>
</template>
<style>
</style>

