<script>
import { defineComponent, ref } from 'vue';
import Topbar from '../components/Topbar.vue';
import SessionOne from '../components/SessionOne.vue';
import SessionTwo from '../components/SessionTwo.vue';
import SessionThree from '../components/SessionThree.vue';
import SessionContract from '../components/SessionContract.vue';

export default defineComponent({
    components: {
        Topbar,
        SessionOne,
        SessionTwo,
        SessionThree,
        SessionContract
    },
    setup() {
        return {

        }
    }
})
</script>
<template>
    <div class="w-full bg-black min-h-screen pb-8">
        <Topbar />
        <div class="pt-28">
            <SessionOne />
        </div>
        <div class="pt-72">
            <SessionTwo />
        </div>
        <div class="pt-72">
            <SessionThree />
        </div>
        <div class="pt-72">
            <SessionContract />
        </div>
    </div>
</template>
<style>
</style>

