<script>
import MainPage from './page/MainPage.vue';

export default {
  components: {
    MainPage
  }
}
</script>

<template>
  <div class="font-main">
    <MainPage />
  </div>

</template>

<style scoped>
</style>
