@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'main';
    src: url("./assets/font/Montserrat-Regular.ttf") format('truetype');
    font-weight: normal;
}

button:focus {
    outline: none;
}
input:focus {
    outline: none;
}